@using CarManager.Helper

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cars</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Find", "Index", "Home")</li>
                @if (Identity.User == null)
                {
                <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                <li>@Html.ActionLink("Register", "Register", "Auth")</li>
                }
                else
                {
                <li>@Html.ActionLink("Manage", "Index", "Manage")</li>
                <li>@Html.ActionLink("Logout", "Logout", "Auth")</li>
                }
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Koshchei's App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>