@using CarManager.Models
@model CarManager.Models.FilterViewModel

@{
    ViewBag.Title = "Filter";
}

<h2>Find car by filter</h2>

@using (Html.BeginForm("Filter", "Car", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("Name", "", new { @class = "form-control", placeholder = "name" })
    </div>
    <div class="form-group">
        @Html.TextBox("Model", "", new { @class = "form-control", placeholder = "model" })
    </div>
    <div class="form-group">
        @Html.TextBox("Num", null, new { @class = "form-control", type = "number", min = 0, placeholder = "num" })
    </div>
    <div class="form-group">
        @Html.TextBox("Year", null, new { @class = "form-control", type = "number", min = 0, placeholder = "year" })
    </div>
    <div class="form-group">
        @Html.DropDownList("Color",
       (new List<SelectListItem> { new SelectListItem { Value = "", Text = "Any" } })
       .Concat(Model.Colors.Select(c => new SelectListItem { Text = c, Value = c })),
       new { @class = "form-control" })
    </div>
    <div class="form-group">
        <span style="margin-right: 10px">
            All @Html.RadioButton("State", SecondhandState.All, true)
        </span>
        <span style="margin-right: 10px">
            New @Html.RadioButton("State", SecondhandState.New)
        </span>
        <span>
            Secondhand @Html.RadioButton("State", SecondhandState.Secondhand)
        </span>
    </div>

    <input type="submit" value="Find" class="btn btn-default" />
}

<hr />

<ul class="list-group">
    @foreach (var car in Model.Cars)
    {
        <li class="list-group-item">
            <h4 class="list-group-item-heading">@car.Name</h4>
            <p class="list-group-item-text">Model: @car.Model, Num: @car.Num, Year: @car.Year, Secondhand: @car.Secondhand</p>
        </li>
    }
</ul>