@model List<CarManager.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Cars</h2>

@using (Html.BeginForm("Create", "Car", FormMethod.Post))
{
    <h4>New Car</h4>
    <div class="form-group">
        @Html.TextBox("Name", "", new { @class = "form-control", placeholder = "name" })
    </div>
    <div class="form-group">
        @Html.TextBox("Model", "", new { @class = "form-control", placeholder = "model" })
    </div>
    <div class="form-group">
        @Html.TextBox("Num", null, new { @class = "form-control", type = "number", min = 0, placeholder = "num" })
    </div>
    <div class="form-group">
        @Html.TextBox("Year", null, new { @class = "form-control", type = "number", min = 1500, placeholder = "year" })
    </div>
    <div class="form-group">
        @Html.TextBox("Color", "", new { @class = "form-control", placeholder = "color" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBox("Secondhand", false) Secondhand
        </label>
    </div>

    <input type="submit" value="Create" class="btn btn-default" />
}

<hr />

<ul class="list-group">
    @foreach (var car in Model)
    {
        <li class="list-group-item">
            <h4 class="list-group-item-heading">@car.Name</h4>
            <p class="list-group-item-text">Model: @car.Model, Num: @car.Num, Year: @car.Year, Secondhand: @car.Secondhand</p>
            <a href="@Url.Action("Edit", new {id=car.Id})" class="btn btn-default">Edit</a>
            @using (Html.BeginForm("Delete", "Car", FormMethod.Get))
            {
                @Html.Hidden("id", car.Id)
                <input type="submit" value="Delete" class="btn btn-default" />
            }
        </li>
    }
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}